<app-s-header></app-s-header>
<app-s-sidenavbar></app-s-sidenavbar>

<div class="page-container">
  <div class="container" [dir]="translocoService.getActiveLang() === 'ar' ? 'rtl' : 'ltr'">
    <h2>{{ 'booking.title' | transloco }}</h2>

    <form (ngSubmit)="submitAppointment()">
      <div class="form-group">
        <label for="firstName">{{ 'booking.firstNameLabel' | transloco }} <span class="required">*</span></label>
        <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" required 
               [placeholder]="'booking.firstNamePlaceholder' | transloco">
      </div>

      <div class="form-group">
        <label for="lastName">{{ 'booking.lastNameLabel' | transloco }} <span class="required">*</span></label>
        <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName" required 
               [placeholder]="'booking.lastNamePlaceholder' | transloco">
      </div>

     <div class="form-group">
  <label for="username">{{ 'register.form.username' | transloco }} <span class="required">*</span></label>
  <input type="text" id="username" [(ngModel)]="username" name="username" required 
         [placeholder]="'register.form.usernamePlaceholder' | transloco" minlength="4"
         (blur)="onUsernameBlur()">
 <div class="hint">{{ 'register.form.usernameHint' | transloco }}</div>
  <div *ngIf="usernameTouched && username.length < 4" class="error">
    {{ 'register.formErrors.usernameMinLength' | transloco: { length: 4 } }}
  </div>
</div>

      <div class="form-group">
        <label for="phoneNumber">{{ 'booking.phoneLabel' | transloco }} <span class="required">*</span></label>
        <input type="tel" id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber" required 
               [placeholder]="'booking.phonePlaceholder' | transloco" pattern="[0-9]*" inputmode="numeric">
      </div>

      <button type="submit" class="submit-button">{{ 'booking.submitButton' | transloco }}</button>
    </form>
  </div>
</div>