<div [dir]="translocoService.getActiveLang() === 'ar' ? 'rtl' : 'ltr'">
    <app-p-header></app-p-header>
 

  <div class="navbar-spacer"></div>


 

  <div class="content">
    <div class="booking-container">
      <h2 class="page-title">{{ 'reschedule.confirmTitle' | transloco }}</h2>

      <!-- Doctor Details -->
      <div class="info-card">
        <img 
          [src]="(BASE_URL + '/' + selectedDoctor?.profilePicture) || 'default-profile.png'"
          alt="Doctor profile picture"
          title="Doctor profile picture"
          class="doctor-image"
        />
        <h3>{{ selectedDoctor?.firstName }} {{ selectedDoctor?.lastName }}</h3>
        <p class="specialization">
          {{ 'reschedule.specialization' | transloco }}: {{ specialization }}
        </p>
        <p class="price">
          {{ 'reschedule.price' | transloco }}: {{ selectedDoctor?.checkPrice }} {{ 'reschedule.currency' | transloco }}
        </p>
      </div>

      <!-- Patient Details -->
      <div class="info-card">
        <h3>{{ 'reschedule.patientInfo' | transloco }}</h3>
        <p><strong>{{ 'reschedule.name' | transloco }}:</strong> {{ patient?.data?.firstName }} {{ patient?.data?.lastName }}</p>
        <p><strong>{{ 'reschedule.phone' | transloco }}:</strong> {{ patient?.data?.phoneNumber }}</p>
      </div>

      <!-- Appointment Details -->
      <div class="info-card">
        <h3>{{ 'reschedule.appointmentDetails' | transloco }}</h3>
        <p><strong>{{ 'reschedule.date' | transloco }}:</strong> {{ selectedTimeSlot?.date }}</p>
        <p><strong>{{ 'reschedule.from' | transloco }}:</strong> {{ selectedTimeSlot?.startTime }}</p>
        <p><strong>{{ 'reschedule.to' | transloco }}:</strong> {{ selectedTimeSlot?.endTime }}</p>
        <p><strong>{{ 'reschedule.location' | transloco }}:</strong> 
          {{ translocoService.getActiveLang() === 'ar' ? 
             (clinic?.governorate_Ar + ', ' + clinic?.district_En) : 
             (clinic?.district_En + ', ' + clinic?.governorate_En) }}
        </p>
      </div>

      <!-- Notes Field -->
      <div class="info-card notes-card">
        <h3>{{ 'reschedule.notes' | transloco }}</h3>
        <textarea 
          id="appointmentNotes"
          [(ngModel)]="notes"
          [placeholder]="'booking.notesPlaceholder' | transloco"
          [title]="'booking.notesLabel' | transloco"
          aria-label="Appointment notes"
        ></textarea>  
      </div>

      <!-- Confirm Reschedule Button -->
      <button (click)="confirmBooking()" class="confirm-button">
        {{ 'reschedule.confirmButton' | transloco }}
      </button>
    </div>
  </div>
</div>
