.container{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffffea;
  z-index: 10000;
  top: 0;
  left: 0;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

img{
  border-bottom: 10px solid #24CC81;
  width: 200px;
  height: 200px;
  animation: bounce 1s infinite alternate;
}

h1{
  color: #24CC81;
  text-transform: lowercase;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  animation: fadeIn 1s infinite alternate;
}

/* Animations */
@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}

@keyframes fadeIn {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}
