<!-- Header Section -->
<ng-container [ngSwitch]="patient?.data?.applicationRole_En">
  <app-p-header *ngSwitchCase="'Patient'"></app-p-header>
  <app-d-header *ngSwitchCase="'Doctor'"></app-d-header>
  <app-s-header *ngSwitchDefault></app-s-header>
</ng-container>

<div class="navbar-spacer"></div>



<!-- Main Content -->
<div class="content" [dir]="translocoService.getActiveLang() === 'ar' ? 'rtl' : 'ltr'">
  <div class="days-wrapper">
    <h2 class="title">{{ 'appointments.selectDateTitle' | transloco }}</h2>

    <!-- Available Days -->
    <div *ngIf="availableDays.length > 0; else noAppointments" class="days-grid">
      <button *ngFor="let day of availableDays"
              (click)="goToDayAppointments(day)"
              class="day-card">
        <span class="date">
          {{ day | date:(translocoService.getActiveLang() === 'ar' ? 'dd MMM yyyy' : 'MMM dd, yyyy') }}
        </span>
        <span class="day-name">{{ day | date:'EEEE' }}</span>
      </button>
    </div>

    <!-- No Available Appointments -->
    <ng-template #noAppointments>
      <div class="no-appointments">
        <p>{{ 'appointments.noAppointmentsMessage' | transloco }}</p>
      </div>
    </ng-template>
  </div>
</div>
